# 虚拟环境
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
.pytest_cache/

# 数据库文件
*.db
*.sqlite
*.sqlite3

# 日志
*.log
logs/

# IDE配置
.idea/
.vscode/
*.swp
*.swo

# 前端构建
node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# 本地配置文件
config.local.js
.env.*.local
.env.local 